{% extends "main.njk" %} {% block content %} {% set posts = [ { price: 49, text:
"A pay-once license, just for you", list: ['The Mac app — yours to keep',
'Beautiful White_level', 'One year of saving to Cloud'] }, { price: 99, text:
"Pro account, just for you", list: ['The Mac app — yours to keep', 'One year of
Mac app updates', 'One year of saving to Cloud', 'A personal Cloud workspace',
'All tools, just for you'] }, { price: 299, text: "A subscription for the whole
team", list: ['Access to the Mac app for all', 'A shared Cloud workspace', 'Free
Cloud access for unlim', 'Easy team management', 'No license key required'] } ]
%}

<section class="first-section">
  <div class="container">
    <div class="first-section__wrap">
      <div class="first-section__content">
        <h1 class="title-h1 first-section__title">
          Always Track & Analyze Your Business Statistics To Succeed.
        </h1>
        <p class="text-p1 first-section__text">
          A better way to manage your sales, team, clients & marketing — on a
          single platform. Powerful, affordable & easy.
        </p>
        <form class="form" novalidate>
          <input
            name="email"
            class="email"
            type="email"
            placeholder="enter your email"
          />
          <button type="submit" class="btn first-section__btn">
            Get started
          </button>
        </form>
        <p class="form-result">Success</p>
        <div class="payments__link">
          <a href="#"><img src="img/m_mastercard.svg" alt="" /></a>
          <a href="#"><img src="img/m_paypall.svg" alt="" /></a>
          <a href="#"><img src="img/m_visa.svg" alt="" /></a>
        </div>
      </div>

      <div class="first-section__image">
        <img class="first-section__img" src="img/Illustration_1.svg" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="about">
  <div class="container">
    <div class="about__wrap">
      <div class="about__image">
        <img class="about__img" src="img/Illustration_2.svg" alt="" />
      </div>
      <div class="about__content">
        <h4 class="title-h4 about__sub-title">about us</h4>
        <h2 class="title-h2 about__title">
          Faster, friendlier feedback loops make life easier.
        </h2>
        <p class="text-p1 about__text">
          Add a Viewer to your team so they can see everything you share, or
          invite people to individual documents. It’s up to you. Stakeholders
          can check out designs in their web browser, test prototypes and leave
          feedback for free.
        </p>
        <ul class="about__list">
          <li>Shared Cloud Libraries, for a single source of truth</li>
          <li>Prototype previews for user testing and research</li>
          <li>Easy organization with projects</li>
          <li>Free developer handoff, right inside the browser</li>
          <li>Two-factor authentication and SSO</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="work">
  <div class="container">
    <div class="work__wrap">
      <div class="work__content">
        <h4 class="title-h4 sub-title__work">How it works</h4>
        <h2 class="title-h2 title__work">
          Building the best space for collaboration.
        </h2>
        <div class="work__list">
          <div class="work__item">
            <div class="item__image">
              <img src="img/icon_1.svg" alt="" />
            </div>
            <div class="item__content">
              <h3 class="title-h3 item__title">Shared Cloud Libraries</h3>
              <p class="text-p1 item__text">
                Navigate to the Your work panel in the left sidebar. Select the
                library you want to share. Select the Share icon in the upper
                right to share the library.
              </p>
            </div>
          </div>
          <div class="work__item">
            <div class="item__image">
              <img src="img/icon_2.svg" alt="" />
            </div>
            <div class="item__content">
              <h3 class="title-h3 item__title">
                Free developer handoff, right inside
              </h3>
              <p class="text-p1 item__text">
                Cloud Inspector makes it easy for developers to get the
                information they need to turn pixels into code — all in the
                browser and, most importantly, for free.
              </p>
            </div>
          </div>
          <div class="work__item">
            <div class="item__image">
              <img src="img/icon_3.svg" alt="" />
            </div>
            <div class="item__content">
              <h3 class="title-h3 item__title">
                Real-time collaborative editing
              </h3>
              <p class="text-p1 item__text">
                Room Service helps you build real-time collaborative features.
                Add real-time data sync! Let users edit the same data at the
                same time.
              </p>
            </div>
          </div>
          <div class="work__item">
            <div class="item__image">
              <img src="img/icon_4.svg" alt="" />
            </div>
            <div class="item__content">
              <h3 class="title-h3 item__title">
                Integrations with the Cloud API
              </h3>
              <p class="text-p1 item__text">
                Unlocking that value requires an iPaaS that delivers the
                transformative power of APIs and integration.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="work__image">
        <img class="work__img" src="img/Illustration_3.svg" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="pricing">
  <div class="container">
    <div class="pricing__wrap">
      <div class="pricing__image">
        <img class="pricing__img" src="img/Illustration_4.svg" alt="" />
      </div>
      <div class="pricing__content">
        <h4 class="title-h4 sub-title__pricing">Pricing</h4>
        <h2 class="title-h2 title__pricing">
          Select a membership level the right price for you.
        </h2>
        <p class="text-p1 text__pricing">
          Prices listed in USD. Taxes may apply. By using program you agree to
          our terms and policies.
        </p>
      </div>
    </div>
    <div class="pricing__cards">
      {% for post in posts %}
      <div class="card">
        <h5 class="card__price">
          <sup>$</sup>{{ post.price }} <sub>per month</sub>
        </h5>
        <p class="card__text">{{ post.text }}</p>
        <ul class="card__list">
          {% for text in post.list %}
          <li>{{ text }}</li>
          {% endfor %}
        </ul>
        <button class="btn card__btn">Join</button>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="faqs">
  <div class="container">
    <div class="faqs__wrap">
      <div class="faqs__content">
        <h4 class="title-h4 sub-title__faqs">Faqs</h4>
        <h2 class="title-h2 title__faqs">Common Questions.</h2>
        <p class="text-p1 text__faqs">
          The online form also provides links to a set of frequently asked
          questions, other information materials related to the financial
          disclosure programme.
        </p>
        <div class="accordion">
          <div class="accordion-item">
            <h5 class="title-h5 accordion-item__title">
              How much does a Teams subscription cost? <span></span><span></span>
            </h5>
            <div class="text-p1 accordion-item__text">
              Contributors are members of your team who need access to use the
              Mac app to create and edit Sketch documents. These prices don’t
              include sales tax, which may still apply. Head over to our pricing
              page to get full details.
            </div>
          </div>
          <div class="accordion-item">
            <h5 class="title-h5 accordion-item__title">
              Do I still need to purchase licenses for the Mac app? <span></span><span></span>
            </h5>
            <div class="text-p1 accordion-item__text">
              Contributors are members of your team who need access to use the
              Mac app to create and edit Sketch documents. These prices don’t
              include sales tax, which may still apply. Head over to our pricing
              page to get full details.
            </div>
          </div>
          <div class="accordion-item">
            <h5 class="title-h5 accordion-item__title">
              What are the differences between Contributors and Viewers? <span></span><span></span>
            </h5>
            <div class="text-p1 accordion-item__text">
              Contributors are members of your team who need access to use the
              Mac app to create and edit Sketch documents. These prices don’t
              include sales tax, which may still apply. Head over to our pricing
              page to get full details.
            </div>
          </div>
          <div class="accordion-item">
            <h5 class="title-h5 accordion-item__title">
              How long does the free Teams subscription trial last? <span></span><span></span>
            </h5>
            <div class="text-p1 accordion-item__text">
              Contributors are members of your team who need access to use the
              Mac app to create and edit Sketch documents. These prices don’t
              include sales tax, which may still apply. Head over to our pricing
              page to get full details.
            </div>
          </div>
          <div class="accordion-item">
            <h5 class="title-h5 accordion-item__title">
              Will program for Teams replace volume licensing? <span></span><span></span>
            </h5>
            <div class="text-p1 accordion-item__text">
              Contributors are members of your team who need access to use the
              Mac app to create and edit Sketch documents. These prices don’t
              include sales tax, which may still apply. Head over to our pricing
              page to get full details.
            </div>
          </div>
        </div>
      </div>
      <div class="faqs__image">
        <img class="faqs__img" src="img/Illustration_5.svg" alt="" />
      </div>
    </div>
  </div>
</section>

{% endblock %}
