<header class="header">
  <div class="header-footer__container">
    <div class="header__wrap">
      <nav class="header-nav">
        <a href="/" class="header-logo">
          <img class="logo__img" src="img/icon.svg" alt="" />
        </a>
        <a class="header-nav__link" href="/">About us</a>
        <a class="header-nav__link" href="/about.html">How it works</a>
        <a class="header-nav__link" href="/ui.html">Pricing</a>
        <a class="header-nav__link" href="/ui.html">FAQs</a>
      </nav>
      <div class="header__buttons">
        <button class="btn-transparent">Login</button>
        <button class="btn">Sign Up</button>
      </div>
      
      <div class="burger">
        <span></span>
        <span></span>
        <span></span>
        <div class="particles-container"></div>
      </div>
     
      <div class="mobile-menu">
        <div class="animated-border"></div>
        <div class="mobile-menu__list">
          <a class="header-nav__link mobile" href="/">About us</a>
          <a class="header-nav__link mobile" href="/about.html">How it works</a>
          <a class="header-nav__link mobile" href="/ui.html">Pricing</a>
          <a class="header-nav__link mobile" href="/ui.html">FAQs</a>
        </div>
        <div class="header__buttons mobile">
          <button class="btn-transparent">Login</button>
          <button class="btn">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</header>
