<header class="header">
  <div class="header-footer__container">
    <div class="header__wrap">
      <nav class="header-nav">
        <a href="/" class="header-logo">
          <img class="logo__img" src="img/icon.svg" alt="" />
        </a>
        <a class="header-nav__link" href="/">About us</a>
        <a class="header-nav__link" href="/about.html">How it works</a>
        <a class="header-nav__link" href="/ui.html">Pricing</a>
        <a class="header-nav__link" href="/ui.html">FAQs</a>
      </nav>
      <div class="header__buttons">
        <button class="btn-transparent">Login</button>
        <button class="btn">Sign Up</button>
      </div>

      <div class="burger">
        <span></span>
        <span></span>
        <span></span>
        <div class="fire">
          <div class="fire-left">
            <div class="main-fire"></div>
            <div class="particle-fire"></div>
          </div>
          <div class="fire-center">
            <div class="main-fire"></div>
            <div class="particle-fire"></div>
          </div>
          <div class="fire-right">
            <div class="main-fire"></div>
            <div class="particle-fire"></div>
          </div>
          <div class="fire-bottom">
            <div class="main-fire"></div>
          </div>
        </div>
        <svg
          class="smoke"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 736 1024"
          style="enable-background: new 0 0 736 1024"
          xml:space="preserve"
        >
          <style type="text/css">
            .st9 {
              opacity: 0.54;
              fill: #4d4343;
            }
          </style>

          <g id="whitesmokes">
            <g>
              <circle
                id="whitesmoke"
                class="st9"
                cx="368.6"
                cy="933.7"
                r="20.9"
              />
              <circle
                id="whitesmoke_1_"
                class="st9"
                cx="369.1"
                cy="933.7"
                r="20.9"
              />
            </g>
            <circle
              id="whitesmoke_2_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_3_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_4_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_5_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_6_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_7_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_8_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_9_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_10_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_11_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_12_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_13_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_25_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_24_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_23_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_22_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_21_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_20_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_19_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_18_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_17_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_16_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_15_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_14_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_27_"
              class="st9"
              cx="368.6"
              cy="934.2"
              r="20.9"
            />
            <circle
              id="whitesmoke_26_"
              class="st9"
              cx="369.1"
              cy="934.2"
              r="20.9"
            />
            <circle
              id="whitesmoke_53_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_52_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_51_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_50_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_49_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_48_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_47_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_46_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_45_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_44_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_43_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_42_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_41_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_40_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_39_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_38_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_37_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_36_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_35_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_34_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_33_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_32_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_31_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_30_"
              class="st9"
              cx="368.9"
              cy="934.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_29_"
              class="st9"
              cx="368.6"
              cy="934.2"
              r="20.9"
            />
            <circle
              id="whitesmoke_28_"
              class="st9"
              cx="369.1"
              cy="934.2"
              r="20.9"
            />
            <circle
              id="whitesmoke_55_"
              class="st9"
              cx="368.6"
              cy="933.7"
              r="20.9"
            />
            <circle
              id="whitesmoke_54_"
              class="st9"
              cx="369.1"
              cy="933.7"
              r="20.9"
            />
            <g>
              <circle
                id="whitesmoke_111_"
                class="st9"
                cx="368.6"
                cy="934.7"
                r="20.9"
              />
              <circle
                id="whitesmoke_110_"
                class="st9"
                cx="369.1"
                cy="934.7"
                r="20.9"
              />
            </g>
            <circle
              id="whitesmoke_109_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_108_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_107_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_106_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_105_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_104_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_103_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_102_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_101_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_100_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_99_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_98_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_97_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_96_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_95_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_94_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_93_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_92_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_91_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_90_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_89_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_88_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_87_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_86_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_85_"
              class="st9"
              cx="368.6"
              cy="935.2"
              r="20.9"
            />
            <circle
              id="whitesmoke_84_"
              class="st9"
              cx="369.1"
              cy="935.2"
              r="20.9"
            />
            <circle
              id="whitesmoke_83_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_82_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_81_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_80_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_79_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_78_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_77_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_76_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_75_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_74_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_73_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_72_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_71_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_70_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_69_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_68_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_67_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_66_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_65_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_64_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_63_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_62_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_61_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_60_"
              class="st9"
              cx="368.9"
              cy="935.3"
              r="20.9"
            />
            <circle
              id="whitesmoke_59_"
              class="st9"
              cx="368.6"
              cy="935.2"
              r="20.9"
            />
            <circle
              id="whitesmoke_58_"
              class="st9"
              cx="369.1"
              cy="935.2"
              r="20.9"
            />
            <circle
              id="whitesmoke_57_"
              class="st9"
              cx="368.6"
              cy="934.7"
              r="20.9"
            />
            <circle
              id="whitesmoke_56_"
              class="st9"
              cx="369.1"
              cy="934.7"
              r="20.9"
            />
          </g>
        </svg>
      </div>

      <div class="mobile-menu">
        <div class="animated-border"></div>
        <div class="mobile-menu__list">
          <a class="header-nav__link mobile" href="/">About us</a>
          <a class="header-nav__link mobile" href="/about.html">How it works</a>
          <a class="header-nav__link mobile" href="/ui.html">Pricing</a>
          <a class="header-nav__link mobile" href="/ui.html">FAQs</a>
        </div>
        <div class="header__buttons mobile">
          <button class="btn-transparent">Login</button>
          <button class="btn">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</header>
