// Inlcude fonts
@include font-face('NeueMachina', 'NeueMachina-Regular', 400);
@include font-face('NeueMachina', 'NeueMachina-Ultrabold', 800);

// Main Fonts
.title-h1 {
  font-size: 28px;
  line-height: 80px;
  letter-spacing: -4px;
  line-height: 80px;

  @media (min-width: 980px) {
    font-size: 70px;
  }
}

.title-h2 {
  font-size: 28px;
  line-height: 1.2;

  @media (min-width: $xl) {
    font-size: 60px;
  }
}

.title-h3 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 800;

  @media (min-width: $xl) {
    font-size: 28px;
    font-weight: 400;
  }
}

.text-p1 {
  font-size: 18px;
  line-height: 26px;
}

.text-p2 {
  font-size: 20px;
  line-height: 28px;
}

h4 {
  color: $black;
  text-align: center;
  font-size: 14px;
  font-weight: 800;
  line-height: 26px;
  text-transform: uppercase;
  padding: 6px 16px;
  border: 1px solid $black;
  background: $white;
}
