// Inlcude fonts
@include font-face('NeueMachina', 'NeueMachina-Regular', 400);
@include font-face('NeueMachina', 'NeueMachina-Ultrabold', 800);

// Main Fonts
.title-h1 {
  font-size: 28px;
  line-height: 80px;
  letter-spacing: -4px;
  line-height: 80px;

  @media (min-width: 360px) {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.4px;
  }

  @media (min-width: 500px) {
    font-size: 50px;
    letter-spacing: -1.4px;
    text-align: center;
  }

  @media (min-width: 980px) {
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; /* 114.286% */
    letter-spacing: -4px;
  }
}

.title-h2 {
  font-size: 28px;
  line-height: 1.2;

  @media (min-width: 980px) {
    font-size: 60px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -3px;
  }
}

.title-h3 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 800;

  @media (min-width: $xl) {
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.4px;
  }
}

.text-p1 {
  font-size: 18px;
  line-height: 26px;
}

.text-p2 {
  font-size: 20px;
  line-height: 28px;
}

.title-h4 {
  color: $black;
  // text-align: center;
  font-size: 14px;
  font-weight: 800;
  line-height: 26px;
  text-transform: uppercase;
  padding: 6px 16px;
  border: 1px solid $black;
  background: $white;
  width: max-content;
  margin-bottom: 20px;
}

.title-h5 {
  color: $black;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 28px;
}