
body {
  font-family: 'NeueMachina';
  background-color: $grey;
  color: $black;
  font-size: 18px;
  line-height: 26px;
}

body.active {
  overflow: hidden;
}

.burger.active body {
  overflow: hidden;
}

::selection {
  background-color: $black;
  color: $white;
}