.index {
  padding: 40px;
} 

.first-section {
  margin-top: 80px;
  margin-bottom: 200px;
}

.first-section__wrap {
  display: grid;
  grid-template-columns: 1fr auto;

  @media (max-width: 1300px) {
    grid-template-columns: 1fr 1fr;
  }
}

.first-section__title {
  max-width: 741px;
}

.first-section__text {
  margin-top: 20px;
  margin-bottom: 40px;
  max-width: 565px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 200px;
  max-width: 478px;
}

.mail {
 border-radius: 6px 0px 0px 6px !important;
}

.first-section__btn {

}

.payments__link {
  margin-top: 80px;
}

.first-section__image {
  max-width: 550px;
}

.first-section__img {
  width: 100%;
}


//.......................about-us.........................//